<!DOCTYPE html>

<html>
    <head>
        <title>card design</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="../style/style.css"
        <link rel="stylesheet" type="text/css" href="../style/normalize.css">
    </head>

    <body>
        <div class="box1 try">
            <img src="../images/florence.webp" alt="Florence Italy">
            <span class="italy">ITALY</span>  
            <div class="line"></div>
            <div class="time">November 2017</div>
            <div class="florence">Florence, Italy</div>
            <button class="viewtrip">View Trip</button>
        </div>
    </body>
</html>